<% content_for(:title, "Section | Learn How To Program") %>

<h1><%= @section.name %></h1>

<p>
  <%= link_to "Edit", edit_section_path(@section) %>
</p>

<p>
  <%= link_to "Delete", section_path(@section),
                          :data => {:confrim => "For Reals?",
                                    :method => "delete"} %>
</p>
